<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:hz="http://www.hazelcast.com/schema/spring"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                          http://www.hazelcast.com/schema/spring hazelcast-spring-3.7.xsd">

    <import resource="classpath:applicationContext-shared.xml" />

 	<!--  Hazelcast beans, the client, and an optional connection to an IMap -->
 
	<hz:client id="client">
		<hz:group name="lab3-#{systemProperties['user.name']}" password="#{systemProperties['user.name']}"/>
		
		<hz:network>
			<hz:member>127.0.0.1</hz:member>
			<hz:member>127.0.0.1:5701</hz:member>
		</hz:network>
	</hz:client>
	
	<!-- Id is bean name, Name is map name. (Just a proxy, the map lives on the servers.)-->
	<hz:map id="fibMapBean" name="fibMap" instance-ref="client"/>
	
	<bean id="cacheManager" class="com.hazelcast.spring.cache.HazelcastCacheManager">
        <constructor-arg ref="client"/>
    </bean>
	
</beans>